In [10]:
#1請建立類似提供結果的 DataFrame：
import pandas as pd
df = pd.DataFrame([
    {'Apple': 30, 'Banana': 21}
])
print(df)

df2 = pd.DataFrame([[35, 21], [41, 34]], index=['2017 Sales', '2018 Sales'], columns=['Apple', 'Banana'])
print(df2)

   Apple  Banana
0     30      21
            Apple  Banana
2017 Sales     35      21
2018 Sales     41      34

In [13]:
#2請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？
import pandas as pd
df = pd.DataFrame({
    'City':['Austin', 'Dallas', 'Ausin', 'Dallas'], 'visitor': [139, 237, 139, 456], 'weekday': ['Sun', 'Sun', 'Mon', 'Mon']
})
df

     City  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2   Ausin      139     Mon
3  Dallas      456     Mon

In [14]:
#3假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？
for day in set(df['weekday']):
    print(day, df[df['weekday'] == day]['visitor'].mean())

Sun 188.0
Mon 297.5